<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Net.Core" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.DocToPDFConverter.Wpf" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Net.Core" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Compression" version="18.1.0.56" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
</packages>